<%- include ("partials/header") -%>
<link rel="stylesheet" href="/css/login.css" />
<br><a class="back" href="/">Return</a>
<div class="login">
  <div class="google">
    <img class="google" src="/resources/google.png" />
    <p>login with google</p>
  </div>
  <div class="discord">
    <img class="google" src="/resources/discord.png" />
    <p>login with discord</p>
  </div>
</div>
<%- include ("partials/footer") -%>
