 <link rel="stylesheet" href="/css/nav.css">
<div id="mySidenav" class="sidenav">
  <a href="/" id="home">Home <img class="home" src="/resources/jormungandr.png"></a>
  <a href="/login" id="login">Login</a>
  <a href="/maps" id="maps">Maps</a>
  <a href="/character" id="character">Character</a>
  <a href="https://discord.gg/NaGpTC6u3e" id="discord">Discord</a>
</div>